.post{
    box-shadow: 0.1px 0.1px 5px 0.1px rgb(194, 191, 191); 
    width: 90%;
    margin: 15px auto;  
    padding: 0px 2px;
}
 .post .heading{
    color: #fe724e;
    font-size: 16px;
    font-weight: bolder;
}
.post .body{
    font-size: 11px;
}
.post textarea{
    width: 98%;
    border: none; 
}
.post label{
    font-size: 10px;
}
.blogBtn button{
    border: none;
    background-color: #fe724e;
    color: #fff;
    padding: 7px;
    margin:60px 5px 0px 5px;
}

/* About  */
.about{
    margin:60px 0px 0px 0px;

}
.about h4{
    width: 100%;
    color: #fe724e;
    text-align: center;
}
.fewWords p{
    font-size: 11px;
    width: 90%;
    margin: auto;
    color: #fe724e;
    text-align: center;
}



