body{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body div h2{
    color: #fe724e;
    text-align: center;
    font-size: 15px;
}
body button{
    padding: 10px 23px;
    font-size: 11px;
    border-radius: 5px;
    font-weight: bolder;
}

/* MENU BAR */
.menuBar{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #fe724e;
    z-index: 1;
}
 .menuBar div {
    display: inline-block;
}
.menuBar .logo{
    width: 60px;
    height: 32px;
    margin: 5px;
}
.menuBar .cart{
    float: right;
}
.cart button{
    margin: 10px 15px;
    border: none;
    background-color: #282B30;
    color: #fff;
}
 .navBar .drpBtn{
    width: 35px;
    margin: 0px 10px;
}
.navBar ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 40%;
    display: none;
}
.navBar ul li{
    margin-bottom: 1px;
    padding: 10px;
    background-color: #fff;
}
.navBar ul li a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #fe724e;
}
.navBar ul li:hover{
    background-color: #2B2830;
}

/* HERO IMAGE */
.hero{
    position: relative;
    display: block;
    background-image: url("../pictures/HERO_BG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}
.hero::before, .ads::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: #000;
    opacity: 0.4;
}
.top .hero .heroWord{
    position: absolute; 
    font-family: poppins;
    width: 89%;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top .hero .heroWord h1{
    font-style: normal;
    font-weight: 800;

}
.top .hero .heroWord p{
    animation: zoom 3s linear;
    font-size: 11px;
}
@keyframes zoom {
    from {
      transform: scale(0.5);
      
    }
    to {
      transform: scale(1);
    }
  }
.hero button{
    border: none;
    background-color: #fe724e;
    color: #fff;
}


/* HOW IT WORKS SECTION  */
.howItWorks {
    position: relative;
    margin: 2em 0px;
}
.howItWorks .process{
    width: 95%;
    margin: 3em auto;
}
.howItWorks .process figure{
    box-shadow: 0.1px 0.1px 5px 0.1px #d8d8d8;   
    display: inline-block;
    width: 43%;
    margin: 10px;
    text-align: center;
    vertical-align: top;
}
.howItWorks .process figure img{
    width: 40px;
    height: 50px;
    padding: 5px;
}
.howItWorks .process figcaption b{
    color: #fe724e;
    font-size: 12px;
} 
.howItWorks .process figcaption p{
    margin: 0px 0px 15px 0px ;
    font-size: 11px;
    line-height: 25px;
    color: rgb(109, 101, 101);
}

/* TOP RESTAURANT SECTION  */
.topRes{
    margin: 3em 0;
}
.topRes h2{
    color: #fe724e;
    text-align: center;
    font-size: 16px;
}
.topRes .slider{
    position: relative;
    width: 85%;
    border: 2px solid #fe724e;
    margin: 8px auto; 
    padding: 0 5px;
    border-radius: 10px;

}
.topRes .slider div{
    padding: 10px;
    overflow-x: hidden;  
    /* scroll-behavior: smooth;  */
    /* scrollbar-width: none;  */
}
.topRes .slider ul{
    display: grid;
    gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
    padding: 0px;
}
.topRes .prev , .topRes .next{
    font-size: 15px;
    color: #fe724e;
    background-color: #fff;
    padding: 20px 8px;
    z-index: 0;
}
.topRes .prev{
    left: 0%;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.topRes .next{
    right: 0%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.topRes .slider ul li {
    text-align: center;
    list-style-type: none;
    background-color: #fe724e;
    border-radius: 5px;
}
.topRes .slider ul li a{
    display: block;
    width: 120px;
    color: #ffffff;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
.topRes .slider ul li a b{
    font-size: 40px;
    background-image: linear-gradient(to right, #ffc42b,rgb(250, 184, 250), #4ebbfe);
    background-clip: text;
    color: transparent;
} 
.dot{
    width: 50px;
    height: 40px;
    position: absolute;
}
.dot1{
    left : 0%;
}
.dot2{
    right : 0%;
}

/* ORDER FOOD SECTION  */
.fdOrder{
    text-align: center;
}
.fdOrder h2{
    margin-bottom: 0px;
}
.fdOrder p{
    color: #fe724e;
    line-height: 0;
    font-size: 8px;
    font-weight: bold;
}
.fdOrder .locator{
    margin: 25px 0;
}
.fdOrder .locator input{
    padding: 10px ;
    border-radius: 5px;
    margin: 0px 10px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #d8d8d8;
}
.fdOrder .locator button{
    box-shadow: 0px 2px 2px 2px #e6e4e4;   
    border: none;
    background-color: #fe724e;
    font-weight: bold;
    padding: 9px 25px;
}
.fdOrder figure{
    box-shadow: 0.3px 0.3px 5px 0.3px #b8b6b6;   
    margin: 30px auto;
    width: 250px;
}
.fdOrder figure img{
    width: 100%;
    height: 160px;
    filter: brightness(0.8);
}

.fdOrder figure figcaption b{
    color:#fe724e;
}
.fdOrder figure figcaption em{
    font-size: 13px;
}
.fdOrder .menus{
    display: none;
}
.fdOrder button{
    background-color:#fe724e;
    color: #fff;
    border: none;
}

/* CUSTOMER REVIEW AND ADS SECTION  */
.cusrev{
    margin: 30px 0px 0px 0px;
}
 .ads{
    position: relative;
    background-image: url("../pictures/ADVERT_BG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 0px;
    width: 100%;
}
.ads .message{
    position: relative;
    margin: auto;
    width: 110px;
    /* background-color: #ffc42b; */
    /* border-radius: 50%; */
    /* padding: 30px 20px; */
    text-align: center;
    font-size: 25px;
    font-weight:bolder;
    background-image: linear-gradient(to left,violet,indigo,blue,green,yellow,orange,red);
    background-clip: text;
    color: transparent;
}

.cusrev div .slider{
    color: #fff;
    height: 205px;
    text-align: left;
    background-color: #fe724e;

}
.cusrev div h3{
    margin: 0;
    padding:20px 0px; 
    text-align: center;
}
.cusrev div.review{
    position: relative;
}
.cusrev div .slider ul{
    margin: 0px;
    padding: 0px;
}
.cusrev div .slider ul li{
    list-style-type: none;
    margin: auto;
    width: 80%;
    color: #fff;
    text-decoration: none;
    border: none;
} 
.cusrev div .slider ul li b{
    display: block;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    margin: 0px 10px;
    font-size: 12px;
}
.cusrev div .slider ul li b.hidden{
    display: none;
}

.cusrev div .slider  button{
    background-color: #fff;
    color: #fe724e;
    border: none;
    margin: 2em 0px;
    padding: 5px;
    font-weight: bold;
}

/* PREV AND NEXT BUTTON  */
.prev,.next{
    background-color:transparent;
    cursor: pointer;
    padding:3px;
    border: none;
    color:#fff;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.prev:hover,.next:hover{
    color: #fe724e;
    background: #000;
}
.prev{
    left: 2%;
    transform: translate(0%,-50%);

}
.next{
    right: 2%;
    transform: translate(0%,-50%);

}

/* FOOTER SECTION  */
section.footer{
    text-align: center;

}
.footer div{
    padding: 20px 0px;
}
.footer div p,.footer div b{
    font-size: 13px;
}
.patner{
    background-color: #ffc42b;
}
.patner p{
    width: 300px;
    margin: auto;
    font-weight: bolder;
}
.footer .patner button{
    background-color:#282B30;
    border: none;
    color: #fff;
    padding: 8px 15px;
}
.footer .newsletter{
    line-height: 10px;
    background-color: #fff;
}
.newsletter p{
    font-size: 11px;
}
.footer .newsletter button{
    background-color:#fe724e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
}
.footer div input{
    padding: 7px;
    border-radius:5px ;
    border: 1px solid #d8d8d8;
    margin-right: 10px;
}

/* QUICK LINKS AND THE REST  */
.credits{
    background-color: #fe724e;
    padding: 10px 5px;
    text-align: center;
}
.credits .credit{
    vertical-align: text-top;
    margin-top: auto;
    font-size: 11px;
    padding: 0;
}
.credits .links{
    padding: 0;

}
.credits .links .link{
    display: inline-block;
    width: 45%;
    vertical-align: text-top;
    padding: 0;
}
.credits .connect span{
    display: inline-block;
}
.credits .credit ul{
    padding: 0;
    margin: 10px 5px;
}
.credits .credit ul li{
    list-style-type:none;
    line-height: 23px;
}
.credits .credit ul li a{
    text-decoration: none;
    color: #fff;
}
.credits .credit .connect img{
    width: 20px;
    margin:0px 15px ;
}
.credits .lg img{
    width: 100px;
}
.credits .lg b{
    margin-left: 20px;
}
.credits b{
    color: #fff;
    font-size: 12px;
}
.credits p{
    color: #fff;
    font-size: 10px;
}


/* FOR BIGGER SCREENS */
@media (min-width:600px){
    .dot{
        width: 90px;
        height: 50px;
    }
    .top .hero .heroWord h1{
        font-size: 32px;
    }
    .top .hero .heroWord p{
        font-size: 15px;
    }
    .howItWorks {
        position: relative;
    }
    .howItWorks .process{
        background-color: #fe724e;
        width: 98%;
        padding: 3em 5px;
    }
    .howItWorks .process div{
        text-align: center;
        width: 95%;
        margin: auto;
    }
    .howItWorks .process figure{
        width: 23%;
        box-shadow: none;
        margin: 0 5px;
    }
    .howItWorks .process figure img{
        width: 60px;
        height: 60px;
        background-color: #fff;
        border-radius: 50%;
        padding: 10px;
    }
    .howItWorks .process figcaption{
        width: 98%;
    } 
    .howItWorks .process figcaption b{
        font-size: 15px;
        color: #fff;
    }
    .howItWorks .process figcaption p{
        margin: 0px ;
        font-size: 11px;
        line-height: 25px;
        color: #fff;
    }
    .topRes .slider{
        width: 80%;
        margin: 20px auto; 
    }
    .topRes .slider ul li {
        width: 150px;
    }
    .topRes .prev , .topRes .next{
        padding: 5px;
    }
    .fdOrder figure{
        display: inline-block;
        margin: 30px 10px;
        width: 29%;
        vertical-align: top;
    }
    .credits .credit{
        display: inline-block;
        width: 33%;
        text-align: left;
    }
    .credits .links .link{
        width: 50%;
        text-align: left;

    }
    .footer div p,.footer div b,.cusrev {
        font-size: 12px;
    }
    .cusrev div .slider ul li b{
        vertical-align: top;
        display: inline-block;
        width: 43%;
        border: 1px solid #fff;
        border-radius: 10px;
        padding:  10px;
        margin: 0px 10px;
    }
    .cusrev div .slider ul li b.hidden{
        display: inline-block;
        width: 43%;
        margin:  0;

    }
    .prev{
        left: 4%;
    }
    .next{
        right: 4%;
    }
}
@media (min-width:750px){
    .navBar .drpBtn{
        display: none;
    }
    .navBar ul{
        display: block;
        top: 10%;
        left: 19%;
    }
    .navBar ul li{
        display: inline-block;
        background-color: transparent;
        margin: 0px 2px;
    }
    .navBar ul li a{
        color: #fff;
        font-size: 15px;
    }
    .cusrev div .slider ul li{
        width:75%;
    }
    .topRes .slider ul li {
        width: 160px;
    }
}
@media (min-width:1000px){
    .navBar ul{
        left: 21%;
    }
    .navBar ul li{
        margin: 0px 10px;
    }
    .howItWorks .process figure img{
        width: 100px;
        height: 100px;
    }
}
@media (min-width:1200px){
    .navBar ul{
        left: 29%;
    }
    .cusrev div .slider ul li{
        width:60%;
    }
    .topRes .slider{
        width: 50%;
        margin: 20px auto; 
    }
    .topRes .slider ul li {
        width: 174px;
    }
    .prev{
        left: 10%;
    }
    .next{
        right: 10%;
    }
}
    /* @media (min-width:2000px){
        .navBar ul{
            left: 29%;
        }
        .cusrev div .slider ul li{
            width:60%;
        }
        .topRes .slider{
            width: 60%;
            margin: 20px auto; 
        }
        .topRes .slider ul li {
            width: 174px;
        }
}
 */
