/* map */
#map{
    width: 50%;
    height: 110px;
}
/* menu */
.menuIntro{
    margin-top: 47px;
    padding: 20px;
    background-image: url('../pictures/MENU_BG.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.menuIntro div{
    width: 60%;
}
.menuIntro div p{
    font-size: 12px;
    line-height: 25px;
}
.filters{
    width: 200px;
    margin: 0;
}
.filters ul{
    display: none;
    position: absolute;
    margin: 0;
    background-color: #fff;
    padding: 0 5px;
    z-index: 1;
}
.filters ul li{
    list-style-type: none;
    font-size: 11px;
    margin: 5px;
}
.filters ul li input{
    margin: 5px 0;
}
.filters ul li label{
    padding: 0px 5px;
}

.menuBody b{
    padding: 5px;
}
.menuNav{
    width: 95%;
    margin: 10px auto;
}
.menuNav button{
    margin: 0px 5px;
}
.menuNav select{
    margin: 0px 5px;
}
.menuBody .menuNav img{
    width: 20px;
    height: 17px;
    margin: 0px 5px;
}
.menuBody .mealList figure{
    box-shadow: 0.3px 0.3px 5px 0.3px #b8b6b6;  
    border-radius: 10px; 
    margin: 10px 10px;
    display: inline-block;
    width: 43.5%;
    text-align: center;
}
.menuBody .mealList figure img{
    width: 100%;
    height: 120px;
    filter: brightness(0.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menuBody .mealList figure figcaption b{
    color:#fe724e;
    font-size: 13px;
}
.menuBody .mealList figure figcaption em{
    font-size: 11px;
}
.menuBody .mealList p{
    color: #fe724e;
    line-height: 0;
    font-size: 11px;
}
/* cart */
.ordercart{
    width: 30px;
    position: fixed;
    bottom: 3%;
    right: 5%;
    z-index: 1;
    background-color: #fe724e;
    text-align: center;
    border-radius: 10px;
    border:1px solid #ffc42b;
    font-size: 20px;
    color: #fff;
}

/* Add post */

.post{
    box-shadow: 0.1px 0.1px 5px 0.1px #d8d8d8; 
    width: 90%;
    margin: 15px auto;  
    padding: 0px 2px;
}
 .post .heading{
    color: #fe724e;
    font-size: 16px;
    font-weight: bolder;
}
.post .body{
    font-size: 11px;
    font-family: lucida ;
}
.post textarea{
    width: 98%;
    border: none; 
}
.post label{
    font-size: 10px;
}
.post img{
    width: 290px;
}
.blogBtn button{
    border: none;
    background-color: #fe724e;
    color: #fff;
    padding: 7px;
    margin:60px 5px 0px 5px;
}
.post button{
    float: right;
    color: #fe724e;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}

/* About  */
.about{
    margin:70px 0px 0px 0px;
    font-size: 11px;
    line-height: 25px;
    color: rgb(109, 101, 101);

}
.about h4{
    width: 100%;
    color: #fe724e;
    font-size: 13px;
    text-align: center;
}
.fewWords p{
    font-size: 11px;
    width: 300px;
    margin: auto;
    color: #000;
    text-align: center;
}

.ourStory figure{
    position: relative;
    width: 310px;
    margin: 20px auto;
    padding-bottom: 10px;
    box-shadow: 0.1px 0.1px 5px 0.1px #c3c2c2; 
    text-align: center;
}
.ourStory figure img{
    width: 310px; 
    height: 200px;
}
.ourStory figure figcaption{
    width: 97%;
    margin: auto;

}
div.counter{
    text-align: center;
    background-color: #282630;
    padding-bottom: 10px;
    display: flex;
}
div.counter figure{
    width: 33%;
    margin: 5px 3px;
}
div.counter figure figcaption b{
    color: #fff;
}
div.counter figure figcaption h2{
    color: #ffc42b;
}
div.counter figure figcaption hr{
    width: 30%;
    border: 2px solid #fe724e;

}
div.ourTeam figure{
    position: relative;
    display: inline-flex;
    width: 270px;
    margin: 10px 0;
    box-shadow: 0.5px 0.5px 9px 0.5px #a7a3a3;   
}
.ourTeam{
    text-align: center;
}
.ourTeam figure img{
    height: 250px;
    width: 270px;
}
.ourTeam figcaption{
    position: absolute;
    bottom: 0%;
    color: #fff;
    background-color: #282630;
    width: 270px;
    height: 40px;
    line-height: 7px;
    padding-top: 15px;
    opacity: 0.8;
}
.ourTeam figcaption p{
    color: #ffc42b;
    font-size: 10px;
}
.quote{
    background-color: #ffc42b;
    text-align: center;
}
/* Add Restaurant and Driver */
.addRestaurant h2 ,.addDriver h2{
    color: #000;
    text-align: left;
}
.addRestaurant .addRes,.addDriver .addDri{
    display: inline-block;
}
img.addRes,img.addDri{
    width: 40px;
}
.restaurantInfo,.driverInfo{
    width: 95%;
    margin:60px auto 0px auto;
}
.addRestaurant .restaurantInfo form label,.addDriver .driverInfo form label{
    margin-right: 10px;
}
.addRestaurant .restaurantInfo form input,.addRestaurant .restaurantInfo form select,.addDriver .driverInfo form input,.addDriver .driverInfo form select{
    width: 90%;
    padding: 9px;
    margin: 15px 0px;
    border:1px solid #e5e4e4;
    border-radius: 7px;
}
.addRestaurant .restaurantInfo form input[type=checkbox],.addDriver .driverInfo form input[type=checkbox]{
    width: 10%;
}
.addRestaurant .restaurantInfo form input[type=time],.addDriver .driverInfo form input[type=time]{
    width: 24%;
    margin: 15px 8px;
}
.addRestaurant .restaurantInfo form button,.addDriver .driverInfo form button{
    padding: 8px;
    background-color: #fe724e;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.addRestaurant .restaurantInfo form button[type=submit],.addDriver .driverInfo form button[type=submit]{
    width: 95%;
    margin: 15px 0px;
}
.addRestaurant .addProcess img,.addDriver .addProcess img{
    width: 70px;
    margin: 20px 0;
}
.addRestaurant .addProcess img,.addDriver .addProcess p{
    font-size: 12px;
}
.addRestaurant .addProcess,.addDriver .addProcess{
    width: 95%;
    margin: auto;
}

/* Patner with us */
.joinus{
    text-align: center;
}
.patnerwithus .blah{
    width: 98%;
    margin:60px auto;
    text-align: center;
}
.joinus img{
    width: 150px;
    margin-top: 20px;
}
.joinus p{
    margin-bottom: 20px;

}
.joinus div, .contact .msg{
    width: 90%;
    box-shadow: 0.1px 0.1px 5px 0.1px #d8d8d8; 
    margin: 20px auto;

}
.joinus div button, .contact .msg button{
    background-color: #fe724e;
    color: #fff;
    border: none;
    margin: 15px 0px;
}
.patnerwithus .viewRes{
    text-align: center;
    background-color: #ffc42b;
    padding-top: 1px;
}
.patnerwithus .viewRes p{
    font-size: 12px;
}
.patnerwithus .viewRes button,.quote button{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
}
.patnerwithus .drivers img{
    width: 100%;
}
/* contact */
.contact{
    margin:60px auto 0px auto;
}
.contact .getintouch{
    margin-left: 15px;
}
.msg form{
    padding-top: 20px;
    padding-left:10px;
}
.contact .msg input, .contact .msg textarea{
    width: 90%;
    padding: 9px 5px;
    margin: 15px 0px;
    border:1px solid #e5e4e4;
}
.contact .msg button{
    width: 95%;
}
@media(min-width:600px){
    .fewWords p{
        width: 500px;
    }
    .ourStory{
        /* width: 90%; */
        margin: auto;
    }
    .ourStory figure{
        width: 98%;
        margin: 0 auto;
        padding: 0px;
        text-align: left;
        display: flex;
    }
    .ourStory figure div{
        width: 50%;
        text-align: center;
    }
    .ourStory figure img{
        margin: auto;
        width: 230px;
    }
    .ourStory figure figcaption{
        width: 40%;
        padding: 15px;
    }
    .ourStory .reverse div{
        order: 2;
    }
    .ourStory .reverse hr{
        order: 1;
    }
    div.ourTeam figure{
        margin: 15px;
    }
    .contact div{
        display: inline-block;
        vertical-align: top;
    }
    .contact .getintouch{
        width: 47%;
    }
    .contact .msg{
        width: 48%;
    }
    .patnerwithus .joinus div{
        display: inline-block;
        width: 40%;
        margin: 20px;
    }
    .menuNav button{
        display: none;
    }
    .menuBody .side{
        display: inline-block;
        margin-top: 20px;
        vertical-align: top;
    }
    .menuBody .mealList {
        width: 70%;
    }
    .menuBody .filters{
        width: 30%;
    }
    .filters ul{
        display: block;
        position: relative;
        background-color: #fff;
        z-index: 0;
   }    
   .addRestaurant .side,   .addDriver .side{
       display: inline-block;
       margin-left: 10px;
   }
   .addRestaurant .restaurantInfo,.addDriver .driverInfo{
        width: 64%;
        vertical-align: top;
   }
   .addRestaurant .addProcess, .addDriver .addProcess{
       width: 32%;
       margin-top: 5em;
   }
}
@media(min-width:950px){
    .menuBody .mealList figure{
        width: 29.5%;
    }
    div.ourTeam figure{
        margin: 25px;
    }
    .ourStory figure img{
        width: 400px;
        height: 300px;
    }
}
@media(min-width:1600px){
    .menuBody .mealList figure{
        width: 22.5%;
    }
    div.ourTeam figure{
        margin: 25px;
    }
}